@page "/submission"
@using RegistrationForm.FormModels.Validation;

@code {
    public RegisterDataFormModel FormModel { get; set; }
}
<div style="text-align: center;">
    <h3>Submission Successful!!!</h3>

    <p>Thank you for submitting the form!</p>

</div>
