@page "/"

<PageTitle>Register Yourself !!!!</PageTitle>
<h1>Welcome to this site!</h1>

Submit the form Now.
<br />
If you are looking for more Information, please go to <a href="https://demo.com" target="_blank">Registration</a>.